.submitButt{
    background: #DB3022;
    border-radius: 25px;
    width: 130px;
    padding-top: 13px;
    padding-bottom: 13px;
    border: none;
    color: #fff;
    transition: 300ms;
}
.submitButt:hover {
    background-color: #CB2012;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(1px);
}